assets/Cronograma.sketch
assets/Cover
BonusExclusivo.zip
wallpaper keep coding/

.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store

node_modules
*/node_modules
*/*/node_modules/
*/*/*/*node_modules/

nivel-2/*
nivel-3/*

notes.md